/* pc version index.html*/
body
{
	
	background-color : #C7D5ED;
	font-family: verdana;
	font-size: 16px;
	margin: 0px;
}

#logo
{
	position: relative;
	width: 70px;
	height: auto;
	
}

h1
{
	color: #374054;
}

h2
{
	font-size: 1em;
	text-align: h1;
}

#flexsection1
{
	background-color: #CFC6A5;
	
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.flexarticle
{
	background-color:#CFC6A5;
	flex-basis: 70%;
	display: flex;
	flex-wrap: wrap;
	
}

#article1
{
	
	display: flex;
	flex-wrap: wrap;
	font-size: 1em;
	line-height: 1;
	flex-basis: 70%;
	flex-shrink: 0;
	flex-grow: 1;
	background-color: #C18CCE;
	
	
}

#asideflex
{
	background-color:#8CAFCE;
	flex-shrink: 0;
	flex-grow: 0;
	margin-left:auto;
	order:1;
}
#article2
{
	display: flex;
	flex-wrap: wrap;
	font-size: 1em;
	flex-basis: 60%;
	flex-shrink: 0;
	flex-grow:1;
	background-color: #CE8C97;
}

#article3
{
	display: flex;
	flex-wrap: wrap;
	font-size: 1em;
	flex-basis: 60%;
	flex-shrink: 0;
	flex-grow: 1;
	background-color: #CE8CB7;
}

.imgflex
{
	position: absolute;
	right: 300;
	
}

#articleheader
{
	font-weight: bold;
}

ul
{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	
}

li.ul
{
	display: flex;
	flex-wrap: wrap;
	flex-basis: 20%;
	flex-shrink:0;
	flex-grow: 0;
	
}